{
    # conf
    'name': 'e1',
    'project': 'IDVR-Exp1-Table',
    'log': True,
    'rank': 0,
    
    # DATA
    'data_dir': '../../data/784565/Diffusion/',
    'data_path': '../../data/784565/Diffusion/data.nii',
    'active_mask_path': '../../data/784565/Diffusion/nodif_brain_mask.nii.gz',
    
    # SELF SUPERVISED PRE-TRAINING
    's_n_epochs': 20,
    's_batch_size': 16,                 # default: 8
    's_lr': 5e-4,
    
    # TRAINING WITH WEAK SUPERVISION
    'w_n_epochs': 20,
    'w_batch_size': 8,                  # default: 8
    'w_lr': 1e-4,                       # [0.0001, 0.0001],   # 0.01 for SGD, [0.0001, 0.0001] for Adam
    'w_eval_freq': 100,
    
    # RANDOM FOREST
    'min_samples_leaf': 8,
    
    # USER MODEL
    'init_voxels': 200,
    'refinement_voxels': 200,
    'num_interactions': 5,
}