{
    # conf
    'name': 'dual-augment-segmentation',
    'project': 'Interactive-DVR',
    
    # DATA
    'data_dir': '../../data/784565/Diffusion/',
    'data_path': '../../data/784565/Diffusion/data.nii',
    'active_mask_path': '../../data/784565/Diffusion/nodif_brain_mask.nii.gz',
    'set': 2,
    
    # TRAINING
    'encoder': 'dual', # default: 'dual'
    'decoder': 'segmentation',
    'thresholds': 'learned',
    'rank': 0,
    'n_epochs': 100,
    'batch_size': 8, # default: 8
    'lr': [0.00001, 0.0001],        
    'augment': False, # default: True
    'log': True,
    'eval_freq': 10,
    
    # Random Forest
    'min_samples_leaf': 8,
    
    # USER MODEL
    'init_voxels': 1000,
    'refinement_voxels': 300,
    'num_interactions': 5,
}